# Dependencies
node_modules/

# Build output
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
# GitHub Pages internal folder